@import url('fonts.css');
@import url('root.css');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--bg-color);
    margin-top: 100px; /* Compensa a altura do header fixo */
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-text);
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--bg-color);
    padding: 1rem 0rem;
    border-bottom: 1px solid #333;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0%;
    padding: 0;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--accent-color);
}






.TituloNome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 5px;
    font-family: var(--font-title);
    font-size: 1.9em;
}

.TextoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 1.2em;
    text-align: center;
    padding: 0 12%;
    padding-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 30px;
    margin: 10px;
}

.social-icon {
    font-size: 3rem;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}
